@page "/LecturasView/{IdDispositivo}"
@inject HttpClient httpClient
@inject Microsoft.JSInterop.IJSRuntime JS
@using System.IO;


@code {
    [Parameter]
    public string IdDispositivo { get; set; }
    string nameDevice = "";
    string sensorName = "";
    List<LecturaModel> lecturaModels = new List<LecturaModel>();
    List<Exportacion> exportacions = new List<Exportacion>();
    List<ChartModel> charts = new List<ChartModel>();
    List<Sensor> dispositivos = new List<Sensor>();
    Dispositivo dispositivo;
    Sensor sensorSeleccionado;
    protected async override Task OnInitializedAsync()
    {
        dispositivo = new Dispositivo();
        dispositivo = await httpClient.GetJsonAsync<Dispositivo>($"Dispositivo/{IdDispositivo}");
        nameDevice = dispositivo.Name;
        dispositivos = await httpClient.GetJsonAsync<List<Sensor>>($"Sensor/GetSensoresPorDispositivo?idDispositivo={IdDispositivo}");

    }

    async Task ObtenerLecturas(Sensor sensor)
    {
        sensorSeleccionado = sensor;
        charts = null;
        charts = new List<ChartModel>();
        lecturaModels = await httpClient.GetJsonAsync<List<LecturaModel>>($"Lectura/GetModel?idSensor={sensor.Id}").ConfigureAwait(false);
        for (int i = 0; i < lecturaModels.Count; i++)
        {
            exportacions.Add(new Exportacion() { NumeroRegistro = (i + 1), FechaHoraCreacion = lecturaModels[i].EntidadPrincipal.FechaHoraCreacion, Valor = lecturaModels[i].EntidadPrincipal.Value });
            charts.Add(new ChartModel() { year = lecturaModels[i].EntidadPrincipal.FechaHoraCreacion, value = lecturaModels[i].EntidadPrincipal.Value });
        }
        sensorName=sensor.Name + "->"+sensor.Id;
        await JS.InvokeAsync<object>("LineChart", "Chart", charts.ToArray(), "year", "value".Split(','), sensorSeleccionado.UnidadDeMedida.Split(','));
    }

    async Task DescargarLecturas(string tipo)
    {
        await JS.CreateFile(exportacions, "Demo", sensorSeleccionado, tipo);
    }
}

<div class="jumbotron-fluid">
    <h1>Lecturas de @nameDevice </h1>
    <strong>Lecturas de @sensorName </strong>
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Descargar lecturas
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class=" dropdown-item" @onclick="@(e=>DescargarLecturas("PDF"))">PDF</button>
                <button class=" dropdown-item" @onclick="@(e=>DescargarLecturas("CSV"))">CSV</button>
                <button class=" dropdown-item" @onclick="@(e=>DescargarLecturas("Excel"))">Excel</button>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sensores
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                @foreach (Sensor item in dispositivos)
                {
                    <button class="dropdown-item" @onclick="@(e=>ObtenerLecturas(item))" type="button">@item.Name</button>
                }
            </div>
        </div>
    </div>
    <!--

    -->
    <div style="background: linear-gradient(to bottom, #CFE4FF, white)" id="Chart"></div>
    <table style="background: linear-gradient(to bottom, white, #CFE4FF)" id="tablaDatos" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id Sensor</th>
                <th scope="col">Sensor</th>
                <th scope="col">Fecha hora</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < lecturaModels.Count; i++)
            {
                int posicion = i;
                <tr>
                    <th scope="row">@posicion</th>
                    <td>@lecturaModels[posicion].Sensor.Id</td>
                    <td>@lecturaModels[posicion].Sensor.Name</td>
                    <td>@lecturaModels[posicion].EntidadPrincipal.FechaHoraCreacion.ToString()</td>
                    <td>@lecturaModels[posicion].EntidadPrincipal.Value @lecturaModels[posicion].Sensor.UnidadDeMedida</td>
                </tr>
            }
        </tbody>
    </table>
</div>

